* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

body{
    background-color: rgb(182, 226, 7);
}

#title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#movie_title{
    text-align: center;
    text-decoration: underline overline;
}

#poster{
    width: 50%;
}

#trailer{
    position: relative;
}